* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/fundo.jpg');
  background-size: auto 100vh;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  font-size: 12px;
}

/* Se a tela tiver pelo menos 400px vai carregar estes esilos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/*breakpoint*/
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}


/* Para separar o título das informações */
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  /* top:0; Para o menu ficar colado no topo da página */
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s; /*Posso declarar tempo para cada um ou um tempo para ambos */
  /* background: rgb(13, 102, 72); */
  /* Serve para aumentar a área de clique das opções do MENU  OBS o valor que vem no display: inline ai só mudar para block*/
}

.menu a:active,
.menu a:hover{
  background-color: teal;
  color: white;
}

a {
  color: rgb(36, 143, 143);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;

  animation:linear 1.5s animacaoTitulo forwards ;
}

@keyframes animacaoTitulo {
 from {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
 }
  to {
  transform: scale(1) translateY(0);
  opacity: 1;
}

}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}


/*Para ajustar o tamanho da fonte principal dependendo da telea*/
.site-title {
  font-size: 4em;
  font-family: 'Cinzel Decorative', cursive;
}

.site-subtitle {
  font-style: Arial;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.8em; /*Espaçamento entre um titulo e o outro*/
}

.sobre,
.contato,
/*Organizar as imagens do portifólio*/
.portfolio {
  padding: 2em;
  min-height: 100vh;
}

@media (min-windth: 1200px){ /*Quando a tela passar de 1200px ele centraliza tudo */
  .container {
    margin-left: auto; /*Para centralizar ao centro as informações*/
    margin-right: auto; /*Para centralizar ao centro as informações*/
    max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: 'Source Code Pro', monospace;
  color: whitesmoke;
  margin-bottom: 0.5em;
  font-size: 2em;
}

.sobre p {
  color: white;
  margin-bottom: 1.4em ;
  text-indent: 1.4em; /*Espaçamento dos paragrafos para trás*/
  text-align: justify;
}

.sobre a {
  color: white; 
  text-decoration: underline;
}

.sobre a:hover {
  background-color: cyan;
  text-decoration: none;
}

.sobre .avatar {
  float: right;
  margin-left: 2em ;
}

.sobre .avatar {   /*Para deixar a imagem redonda*/
  /* border-radius: 50%; */
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  margin-left: 2em;
  /* Site para pegar as formas da imagem https://bennettfeely.com/clippy/ */
}

@media (min-width: 600px){ /*Quando a tela aumentar muda o formato da imagem*/
  .sobre .avatar {
    float: right;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  }
}


.portfolio .grid {
  display: grid;
  gap: 1em;
}

@media (min-width: 560px) { /*Serve para dividir as imagens em colunas*/
  .portfolio .grid {
    grid-template-columns: 240px 240px;/*Colunas de 240 por 240*/
  }
}

@media (min-width: 880px) {  /*Quando a tela atingir 880 ele dividir em 3 fileiras*/
  .portfolio .grid {
    grid-template-columns: repeat(3,240px); /*Tres colunas de 240px*/
    align-content: center;
    justify-content: center; /*Centraliazr os elementos na página*/
    height: calc(100vh - 8em - 48px);
  }
}
.portfolio figure {
  text-align: center;
}

/* Para diminuir as imagens deixando elas pequenas  */
.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover; /*Todas imagens ocupam o mesmo espaço*/
  object-position: left bottom; /*Ajusta as imagens dependendo o contexto*/
  transition: transform 500ms;
}

/* .img-portfolio:hover {
  transform: scale(1.2) rotate(-2deg);
  
} */

.flip-card{
perspective: 500px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1.5s;
}

.flip-card:hover .card{
  transform: rotateY(180deg);
}

.card-front, 
.card-back{
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
}

.card-back {
  background-color: white;
  height: 180px;
  width: 100%;
  transform: rotateY(180deg);
}

.contato .icons{
text-align: center;
}

.contato a {
  color: white;
  font-size: 10em;
  transition: text-shadow 1s;
  
}

.contato a:active, 
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.925);
}

/* @media (min-width: 1200px) {
  .img-portfolio {
    height: auto;
    width: 100%;
  }
} */