* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/fundo.jpg');
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
  font-size: 12px;
}

/* Se a tela tiver pelo menos 400px vai carregar estes esilos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}
/*breakpoint*/
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}


/* Para separar o título das informações */
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  /* top:0; Para o menu ficar colado no topo da página */
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  /* background: rgb(13, 102, 72); */
  /* Serve para aumentar a área de clique das opções do MENU  OBS o valor que vem no display: inline ai só mudar para block*/
}

a {
  color: rgb(36, 143, 143);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

/*Para ajustar o tamanho da fonte principal dependendo da telea*/
.site-title{
  font-size: 4em;
  font-family: 'Cinzel Decorative', cursive;
}

.site-subtitle {
  font-style: Arial;
}

/* Para diminuir as imagens deixando elas pequenas  */
.img-portfolio {
  height: 180px;
  width: 180px;
}