* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/fundo.jpg');
  background-size: auto 100vh;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  font-size: 12px;
}

/* Se a tela tiver pelo menos 400px vai carregar estes esilos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/*breakpoint*/
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}


/* Para separar o título das informações */
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  /* top:0; Para o menu ficar colado no topo da página */
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  /* background: rgb(13, 102, 72); */
  /* Serve para aumentar a área de clique das opções do MENU  OBS o valor que vem no display: inline ai só mudar para block*/
}

a {
  color: rgb(36, 143, 143);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}


/*Para ajustar o tamanho da fonte principal dependendo da telea*/
.site-title {
  font-size: 4em;
  font-family: 'Cinzel Decorative', cursive;
}

.site-subtitle {
  font-style: Arial;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.8em; /*Espaçamento entre um titulo e o outro*/
}

.contato,
/*Organizar as imagens do portifólio*/
.portfolio {
  padding: 2em;
  min-height: 100vh;
}
.contato h2,
.portfolio h2 {
  font-family: 'Source Code Pro', monospace;
  color: whitesmoke;
  margin-bottom: 0.5em;
  font-size: 2em;
}

.portfolio .grid {
  display: grid;
  gap: 1em;
}

@media (min-width: 560px) { /*Serve para dividir as imagens em colunas*/
  .portfolio .grid {
    grid-template-columns: 240px 240px;/*Colunas de 240 por 240*/
  }
}

@media (min-width: 880px) {  /*Quando a tela atingir 880 ele dividir em 3 fileiras*/
  .portfolio .grid {
    grid-template-columns: repeat(3,240px); /*Tres colunas de 240px*/
    align-content: center;
    justify-content: center; /*Centraliazr os elementos na página*/
    height: calc(100vh - 8em - 48px);
  }
}
.portfolio figure {
  text-align: center;
}

/* Para diminuir as imagens deixando elas pequenas  */
.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover; /*Todas imagens ocupam o mesmo espaço*/
  object-position: left bottom; /*Ajusta as imagens dependendo o contexto*/
}

.contato .icons{
text-align: center;
}

.contato a {
  color: white;
  font-size: 10em;
  
}

.contato a:hover{
  text-decoration: none;
}

/* @media (min-width: 1200px) {
  .img-portfolio {
    height: auto;
    width: 100%;
  }
} */